section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

h3{
  color: #009999;
}

section code {
  background-color: #d1d1e0;
  padding: 0.5em 0.75em;
}

.extra-padding{
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 40%;
  background-color: #333333;
}

.swatch{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

#core1{
  background-color: #952d49;
}

#core2{
  background-color: #333333;
}

#misc1{
  background-color: #009999;
}

#misc2{
  background-color: #d1d1e0;
}

#black-text{
  background-color: #333333;
}

#white-text{
  background-color: #FFFFFF;
}
